.promocode__item {
  display: flex;
  min-height: 80px;
  align-items: center;
  border: 0.5px solid #e8e8e8;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  padding-left: 16px;
}

.promocode__name {
  display: flex;
  flex-direction: column;
}

.promocode-text {
  width: 200px;
}

.promocode__text {
  width: 200px;
}

.promocode__text_name {
  width: 190px;
}
