.program {
  box-sizing: border-box;
  padding: 28px 0 0 0;
  max-width: 1330px;
  margin: 0;
}

.program__filters {
  display: flex;
  margin: 0 14px 0;
}

.program__paginationBtn {
  height: 80px;
  margin-top: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}
