.program {
  box-sizing: border-box;
  padding: 28px 16px 0 14px;
  width: 1330px;
  margin: 0;
}

.program__filters {
  display: flex;
}

.program__paginationBtn {
  height: 80px;
  margin-top: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}
