.popup-create {
  position: relative;
}

.popup-create__content {
  margin: 50px 60px 40px 60px;
}

.popup-create__adress {
  display: flex;
  margin-top: 16px;
}

.popup-create__selects {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
  margin-bottom: 105px;
}

.popup-create__input {
  display: flex;
  align-items: center;
}

.popup-create__container {
  display: flex;
  align-items: center;
  margin-bottom: 9px;
}

.popup-create__checkbox {
  margin-right: 12px;
}

.popup-input__container {
  display: flex;
  align-items: end;
}

.popup-create__check-done {
  cursor: pointer;
}

.popup-create__icon {
  margin-left: 8px;
  margin-right: 19px;
}

.popup-create__check-done {
  margin-right: 8px;
}

.popup-create__btn {
  position: absolute;
  bottom: 40px;
  right: 60px;
}
