form {
  position: relative;
}

.input__search-icon {
  position: absolute;
  top: 10px;
  left: 28px;
}

.input__search-icon-promo {
  position: absolute;
  top: 10px;
  left: 13px;
}

.input {
  display: flex;
  flex-direction: column;
  margin-top: 0px;
}

.input__label {
  margin: 0 auto 4px 16px;
  color: #1a1b22;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
}

.input__label-promo {
  margin: 0 auto 4px 0px;
  color: #1a1b22;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
}

.input__text-promo-error {
  color: #ff0200;
}
