.main {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
  display: grid;
  grid-template-rows: 80px auto;
  grid-template-areas:
  'sidebar header header'
  'sidebar main main';
}
