.form__section {
  background: url(../../assets/BackGroundAuth.svg) no-repeat;
  background-size: cover;
  height: 100vh;
  position: relative;
}

.form__content {
  width: 386px;
  height: 335px;
  background: #fff;
  position: absolute;
  top: 30%;
  left: 35%;
  border-radius: 12px;
}

.form__title {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.3em;
  margin: 0;
  padding-top: 32px;
}

.form__subtitle {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25em;
  color: #797981;
  margin: 0;
  padding-top: 24px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 24px;
}

.form__input {
  border: 1px solid #dde0e4;
  border-radius: 4px;
  width: 306px;
  height: 40px;
  color: #797981;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4em;
  padding-left: 12px;
  margin-bottom: 12px;
}

.form__input:nth-child(2) {
  margin-bottom: 24px;
}
