.data-ambassador {
  grid-area: main;
}

.data-ambassador__container {
  width: 1300px;
  margin-bottom: 100px;
}

.search-add {
  display: flex;
}

.data-ambassador__filters {
  display: flex;
  flex-direction: column;
}

.ambassadors {
  display: flex;
  flex-direction: column;
  margin-top: 4px;
  margin-left: -1px;
}

.ambassadors__description {
  display: flex;
  border: 0.5px solid #e8e8e8;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  padding-left: 16px;
}

.ambassadors__text {
  color: #000;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
}

.number {
  width: 10px;
  margin-right: 12px;
  margin-left: 16px;
}

.name {
  width: 200px;
}

.sex {
  width: 60px;
}

.registration {
  width: 159px;
}

.status {
  width: 198px;
}

.country {
  width: 104px;
}

.onboarding {
  width: 140px;
}

.ambassadors__items {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

.ambassadors__item {
  display: flex;
  min-height: 80px;
  align-items: center;
  border: 0.5px solid #e8e8e8;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  padding-left: 16px;
}

.send-merch {
  display: flex;
  height: 40px;
  margin-top: 32px;
}

.returnBtn {
  display: flex;
  align-items: center;
  margin-left: 16px;
  gap: 10px;
}

.label {
  margin: 0 0 4px 0;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
}

.label::before {
  content: '* ';
  color: red;
}

.ambassadors__data {
  display: grid;
  margin: 28px 0 0 16px;
  grid-template-columns: repeat(3, 320px);
  column-gap: 117px;
  row-gap: 16px;
}

