.sending {
  box-sizing: border-box;
  padding: 32px 0 0 0;
  max-width: 1330px;
  margin: 0;
}

.sending__btnSelected {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  margin-top: 24px;
}

.sending__filters {
  display: flex;
  margin: 0 16px 0;
}