.sending {
  box-sizing: border-box;
  padding: 28px 14px 0 16px;
  position: relative;
  width: 1330px;
  margin: 0;
}

.sending-search {
  display: flex;
  max-height: 148px;
}

.sending__btnSelected {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 24px;
  left: 50%;
}
