.card {
  border: 0.5px solid #b5b5b7;
  cursor: pointer;
}

.card__content {
  display: flex;
  flex-direction: column;
  margin: 20px 22px 20px 25px;
}

.card__contents {
  display: flex;
  justify-content: space-between;
}

.card__name {
  font-weight: 400;
  color: #1a1b22;
  font-size: 14px;
}

.card__link {
  color: #797981;
}

.card__done {
  display: flex;
}

.card__count {
  color: #797981;
  font-size: 16px;
}

.card__orange-text {
  color: #ffb55b;
}

.card__green-text {
  color: #87cc9e;
}

.card__clip {
  width: 20px;
  height: 20px;
}

.card__text {
  display: flex;
  justify-content: start;
  align-items: start;
  margin-top: 5px;
}

.card__texts {
  display: flex;
  align-items: center;
  margin-right: 12px;
}
