.card {
  width: 328px;
  height: 258px;
  border: 0.5px solid #b5b5b7;
  border-radius: 17px;
  box-shadow: none;
}

.card__content {
  padding: 20px;
}

.card__tag {
  background-color: #87cc9e;
  border-radius: 8px;
  width: 97px;
  height: 30px;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  padding-top: 3px;
}

.card__name {
  font-size: 18px;
  font-weight: 400;
  color: #1a1b22;
  padding-top: 20px;
}

.card__social {
  font-size: 15px;
  font-weight: 400;
  color: #797981;
  padding-top: 3px;
}

.card__link {
  font-size: 15px;
  font-weight: 400;
  color: #797981;
}

.card__date {
  color: #797981;
  border: 1.4px solid #e2e2e2;
  border-radius: 5px;
  width: 128px;
  height: 28px;
  font-size: 16px;
  font-weight: 400;
  margin-top: 57px;
  text-align: center;
  padding-top: 2px;
}
.card__number {
  display: flex;
  align-items: end;
  justify-content: space-between;
}
.card__done {
  display: flex;
}

.card__icon {
  width: 23px;
  height: 23px;
  padding-right: 9px;
}

.card__count {
  color: #797981;
  font-size: 16px;
  font-weight: 700;
}
