.card {
  border: 0.5px solid #b5b5b7;
}

.card__tags {
  display: flex;
  padding-right: 5px;
}

.card__tag {
  background-color: #87cc9e;
  border-radius: 8px;
  max-width: 97px;
  height: 30px;
  padding: 5px 10px 0;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  margin-right: 5px;
}

.card__name {
  font-size: 18px;
  font-weight: 400;
  color: #1a1b22;
  padding-top: 20px;
}

.card__social {
  font-size: 15px;
  font-weight: 400;
  color: #797981;
  padding-top: 3px;
}

.card__link {
  font-size: 15px;
  font-weight: 400;
  color: #797981;
}

.card__date {
  color: #797981;
  border: 1.4px solid #e2e2e2;
  border-radius: 5px;
  width: 128px;
  height: 28px;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  padding-top: 2px;
}
.card__number {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 57px;
}
.card__done {
  display: flex;
}

.card__icon {
  width: 23px;
  height: 23px;
  padding-right: 9px;
}

.card__count {
  color: #797981;
  font-size: 16px;
  font-weight: 700;
}

.card__orange-text {
  color: #ffb55b;
}

.card__green-text {
  color: #87cc9e;
}
