.budjet {
  box-sizing: border-box;
  margin: 42px auto 0 28px;
  position: relative;
}

.budjet__container-search {
  display: flex;
  max-height: 148px;
}

.budjet__btnSelected {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 24px;
  left: 50%;
}
