.budjet {
  box-sizing: border-box;
  margin: 42px auto 0 28px;
}

.budjet__container-search {
  display: flex;
  max-height: 148px;
}

.budjet__paginationBtn {
  height: 80px;
  margin-top: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}
