.budjet {
  box-sizing: border-box;
  padding: 32px 14px 0 16px;
  width: 1330px;
  margin: 0;
}

.budjet__container-search {
  display: flex;
}

.budjet__paginationBtn {
  height: 80px;
  margin-top: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.budjet__filters {
  display: flex;
  flex-direction: column;
}