.notice {
  box-sizing: border-box;
  padding: 42px 0 0 0;
  width: 1330px;
  margin: 0;
}

.notice__filters {
  display: flex;
}

.notice__paginationBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  margin-top: 24px;
}
