.notice {
  box-sizing: border-box;
  padding: 42px 11px 0 16px;
  position: relative;
  width: 1330px;
  margin: 0;
}

.notice__container-search {
  display: flex;
  max-height: 148px;
}

.notice__paginationBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 24px;
  left: 50%;
}
