.page {
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  margin: 0 auto;
  max-width: 2000px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  /* outline: 1px solid red; */
}
